<div class="individual-post-container">
  <div class="post-top-bar">
    <h2>Post <%= "#" + @post.id.to_s %> by <%= @user.name %></h2>
        <div class="post-comments-likes">
          <span>Comments: <%= @post.comments_counter %>, </span>
          <span>Likes: <%= @post.likes_counter %></span>
        </div>
  </div>
  <% if current_user.present? %>
  <div class="like-post">
    <%= button_to "Like", like_user_post_path(@user, @post), method: :post, remote: true %>
    <%= button_to "Unlike", unlike_user_post_path(@user, @post), method: :delete, remote: true %>
  </div>
  <% end %>
  <p><%= @post.text %></p>
</div>
<div class="comment-box">
  <% @post.comments.each do |comment| %>
    <div class="each-commet">
      <span><%= comment.author.name %>: </span>
      <span><%= comment.text %></span>
    </div>
  <% end %>
</div>
<div class="add-comment">
  <a href="<%= new_user_post_comment_path(@user, @post) %>">
    <button class="add-comment-button">Add a comment</button>
  </a>
</div>
<a href="<%= user_posts_path() %>">
  Go back
</a>